html {
  background: url('public/josh-appel-Koa3Geuo6TM-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.welcome-text {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 5.9em;
  color: greenyellow;
  font-family: 'Oleo Script Swash Caps', cursive;
  letter-spacing: 0.07em;
  font-weight: 400;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  html {
    background-image: url('public/small-josh-appel-Koa3Geuo6TM-unsplash.jpg');
  }
  .welcome-text {
    font-size: 2.9em;
  }
}